In [7]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import numpy as np

In [8]:
# URL of page to be scraped
url = 'https://www.billboard.com/charts/hot-100-60th-anniversary'

# Retrieve page with the requests module
response = requests.get(url)

# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'lxml')

In [9]:
# Retrieve the parent divs for all articles
titles = soup.find_all("div", class_="item-details__title")
artists = soup.find_all("div", class_="item-details__artist")

In [10]:
title_list=[]
for title in titles:
    title_list.append(title.text)

artist_list=[]
for artist in artists:
    artist_list.append(artist.text)

In [11]:
len(artist_list)

600

In [27]:
dates_genre_gender=soup.find_all("span", class_="chart-list-item__all-time-data-cell")

data_list=[]

for data in dates_genre_gender:
    data_list.append(data.text.strip())

dates=[]
genre=[]
gender=[]

dates.append(data_list[::3])
genre.append(data_list[1::3])
gender.append(data_list[2::3])

dates_df=pd.DataFrame(dates).T
genre_df=pd.DataFrame(genre).T
gender_df=pd.DataFrame(gender).T

d = {'Title': title_list, 'Artist': artist_list, 'Date':dates_df[0],'Genre':genre_df[0], 'Gender':gender_df[0]}

df=pd.DataFrame(d)
df

,Title,Artist,Date,Genre,Gender
0,THE TWIST,Chubby Checker,1960,R&B,Male
1,SMOOTH,Santana Featuring Rob Thomas,1999,Rock,Duo/Group
2,MACK THE KNIFE,Bobby Darin,1959,Pop,Male
3,UPTOWN FUNK!,Mark Ronson Featuring Bruno Mars,2015,Pop,Male
4,HOW DO I LIVE,LeAnn Rimes,1997,Country,Female
...,...,...,...,...,...
595,BLUE VELVET,Bobby Vinton,1963,Pop,Male
596,"WILD, WILD WEST",The Escape Club,1988,Pop,Duo/Group
597,START ME UP,The Rolling Stones,1981,Rock,Duo/Group
598,BENT,matchbox twenty,2000,Rock,Duo/Group
599,TAKE ON ME,a-ha,1985,Pop,Duo/Group

In [32]:
df.index += 1
df.to_csv(r'Billboard600.csv', index = False)